.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 10px;
}

.brand {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin: 0 10px;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.button-menu-toggle {
  display: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.menu-icon {
  display: block;
  width: 30px;
  height: 4px;
  background-color: white;
  margin-bottom: 6px;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .button-menu-toggle {
    display: block;
  }

  .navbar.responsive .nav-links {
    display: flex;
    flex-direction: column;
  }

  .navbar.responsive .nav-links li {
    margin: 10px 0;
  }
}

.image-container {
  display: flex;
  justify-content: center; /* Centrar horizontalmente las imágenes */
  align-items: center; /* Centrar verticalmente las imágenes */
}

.image-container img {
  width: 200px; /* Ajusta el ancho de las imágenes según tus necesidades */
  margin-right: 10px; /* Espacio entre las imágenes */
  border: 2px solid black; /* Borde de 2 píxeles de ancho y color negro */
}







